# Import text from the JSON file

In [1]:
import json 
import pandas as pd

In [2]:
with open("./CSMM101_3T2020_discussion_threads.json") as f:
    discussions = json.load(f)

In [6]:
def read_comment(comment, result):
    author = comment['user']['name']
    
    replies = comment['comments']
    for reply in replies:
        replier = reply['user']['name']
        url = reply['url']
        result.append((author, replier, url))
        
        read_comment(reply, result)

from_to_list = []
for discussion in discussions:
    author = discussion['user']['name']
    from_to_list.append((author, None))
    read_comment(discussion, from_to_list)

    
#print(from_to_list)

In [6]:
from_list = []
to_list = []
for pair in from_to_list:
    from_list.append(pair[0])
    to_list.append(pair[1])

# print(from_list)
# print(to_list)

social_network_data_frame = pd.DataFrame(
    {'from': from_list,
     'to': to_list
    })
#print(social_network_data_frame.head())

In [7]:
social_network_data_frame

           from             to
0        Shu-Yi           None
1        Shu-Yi           None
2        Shu-Yi           None
3        Shu-Yi           None
4        Shu-Yi  tierneyjyoung
..          ...            ...
918  debgamer64           None
919    burricks           None
920    burricks      082751815
921      Ortaps           None
922      Ortaps   Christiaan05

[923 rows x 2 columns]